= form_with(model: aim) do |form|
  - if aim.errors.any?
    #error_explanation
      h2
        = pluralize(aim.errors.count, "error")
        |  prohibited this aim from being saved:
      ul
        - aim.errors.each do |error|
          li
            = error.full_message
  .field
    = form.label :option1
    = form.number_field :option1
  .field
    = form.label :option2
    = form.number_field :option2
  .field
    = form.label :option3
    = form.number_field :option3
  .field
    = form.label :option4
    = form.number_field :option4
  .field
    = form.label :option5
    = form.number_field :option5
  .actions
    = form.submit
