= form_with(model: good) do |form|
  - if good.errors.any?
    #error_explanation
      h2
        = pluralize(good.errors.count, "error")
        |  prohibited this good from being saved:
      ul
        - good.errors.each do |error|
          li
            = error.full_message
  .field
    = form.label :count
    = form.number_field :count
  .actions
    = form.submit
